.main-section{
    background-color: #ABC3EF;
}

.sidebar-item-selected{
    background-color: #ABC3EF;
}

.spinner {
    animation: rotate 2s linear infinite;
    margin: -25px 0 0 -25px;
    width: 100px;
    height: 100px;
}

.path {
    stroke: hsl(240, 100%, 50%);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

.main-content-container{
    display:none;
}
.main-heading{
    padding: 12px 24px;
    color: #FFF;
    background-color: var(--primary-color);
    border-radius: 12px;
}

.main-heading h1{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: normal;
}

.main-heading h5{
    margin: 0;
    text-align: right;
    font-size: 18px;
    font-weight: normal;
}

.booking-reports{
    display: flex;
    flex-direction: column;
}

.booking-reports h1{
    color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.type-based-bookings{
    display: flex;
}

.popular-booking-types-graph {
    background-color: white;
    padding: 15px;
    border: 1px #102699 solid;
    border-radius: 15px;
    margin: 10px;
    width: 30%;
}

.popular-booking-types-graph h1{
    color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: normal;
}

.monthly-booking-types-graph {
    background-color: white;
    padding: 15px;
    border: 1px #102699 solid;
    border-radius: 15px;
    margin: 10px;
    width: 65%;
}

.monthly-booking-types-graph h1{
    color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: normal;
}

.overall-bookings{
    display: flex;
}

.total-booking-details-graph{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    border: 1px #102699 solid;
    border-radius: 15px;
    margin: 10px;
    width: 70%;
}

.total-booking-details-graph h1{
    color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: normal;
}

.ongoing-bookings{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    border: 1px #102699 solid;
    border-radius: 15px;
    margin: 10px;
    width: 30%;
}

.ongoing-bookings h1{
    color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: normal;
}

.feedback-reports{
    display: flex;
    flex-direction: column;
}

.feedback-reports h1{
    color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
