.main-section{
    background-color: #ABC3EF;
}

.sidebar-item-selected{
    background-color: #ABC3EF;
}

.spinner {
    animation: rotate 2s linear infinite;
    margin: -25px 0 0 -25px;
    width: 100px;
    height: 100px;
}

.path {
    stroke: hsl(240, 100%, 50%);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

.success-message-container{
    position: fixed;
    left: 50%;
    top: 50%;
    display: flex;
    align-items: center;
    transform: translate(-50%, -50%) ;
    padding: 12px 36px;
    color: #102699;
    background-color: #FFF;
    border-radius: 16px;
    opacity: 1;
    visibility: hidden;
}

.failed-message-container{
    position: fixed;
    left: 50%;
    top: 50%;
    display: flex;
    align-items: center;
    transform: translate(-50%, -50%) ;
    padding: 12px 36px;
    color: #9A2D01;
    background-color: #FFF;
    border-radius: 16px;
    opacity: 1;
    visibility: hidden;
}

.success-message-container h1, .failed-message-container h1{
    margin-bottom: 12px;
    font-weight: normal;
}

.success-message-container h3, .failed-message-container h3{
    margin-top: 0;
    font-weight: normal;
}

.success-message-text, .failed-message-text{
    margin-left: 32px;
}

.main-content-container{
    display:none;
}

.reset-login-content, .suspend-user-content{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) ;
    padding: 32px;
    color: #102699;
    background-color: #FFF;
    border-radius: 24px;
    opacity: 1;
    visibility: hidden;
}

.reset-login-title, .suspend-user-title{
    color: var(--warning-color);
    text-align: center;
}

.reset-login-title h1, .suspend-user-title h1{
    font-weight: normal;
    font-size: 32px;
}

.reset-login-buttons, .suspend-user-buttons{
    width: 100%;
    display: flex;
    justify-content: center;
}

.reset-cancel-button, .suspend-cancel-button{
    min-width: 120px;
    outline: none;
    border: 4px solid var(--danger-color);
    padding: 10px 5px;
    margin-right: 24px;
    color: var(--danger-color);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-radius: 16px;
    background-color: var(--danger-shade-color);
    transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
}

.reset-cancel-button:active, .suspend-cancel-button:active{
    transform: scale(.96)
}

.reset-confirm-button, .suspend-confirm-button{
    min-width: 120px;
    outline: none;
    border: 4px solid var(--warning-dark-color);
    padding: 10px 5px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-radius: 16px;
    background-color: var(--warning-dark-color);
    transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
}

.reset-confirm-button:active, .suspend-confirm-button:active{
    transform: scale(.96)
}

.create-admin-form{
    position: fixed;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%) ;
    margin: 16px;
    min-height: fit-content;
    max-height: 80vh;
    color: #102699;
    background-color: #FFF;
    border-radius: 16px;
    opacity: 1;
    visibility: hidden;
}

.create-admin-wrapper{
    margin: 32px 48px;
    margin-right: 24px;
    padding-right: 24px;
    overflow: auto;
    height: calc(100% - 64px);
}

.create-admin-title{
    padding: 16px 12px;
    background-color: var(--primary-shade-color);
    border-radius: 12px;
}

.create-admin-title h1{
    margin: 0;
    text-align: center;
    font-weight: normal;
    font-family: 'Inter', sans-serif;
}

.admin-form-row{
    display: flex;
    justify-content: stretch;
    align-items: center;
    margin: 12px 0;
    font-size: 20px;
    min-width: 100%;
}

.admin-form-column{
    margin: 0 12px;
    width: 100%;
}

.admin-form-column input[type="text"], input[type="password"], input[type="date"]{
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 12px;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 22px;
    width: calc(100% - 20px);
    min-width: 300px;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

.form-message{
    padding: 16px 12px;
    background-color: var(--primary-shade-color);
}

.form-message h5{
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
}

.input-error-text{
    position: absolute;
    color: #FF1F00;
    font-size: 14px;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 12px;
}

.cancel-button{
    outline: none;
    border: 3px solid var(--primary-bright-color);
    padding: 12px 18px;
    margin: 0 12px;
    color: var(--primary-bright-color);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    border-radius: 18px;
    background-color: var(--primary-shade-color);
    transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
}


.cancel-button:active{
    transform: scale(.96);
}

.submit-button{
    outline: none;
    border: 3px solid var(--primary-color);
    padding: 12px 18px;
    margin: 0 12px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    border-radius: 18px;
    background-color: var(--primary-color);
    transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
}


.submit-button:active{
    transform: scale(.96);
}

.main-heading{
    padding: 12px 24px;
    color: #FFF;
    background-color: var(--primary-color);
    border-radius: 12px;
}

.main-heading h1{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: normal;
}

.main-heading h5{
    margin: 0;
    text-align: right;
    font-size: 18px;
    font-weight: normal;
}

.recent-logins-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.recent-logins-title h1{
    color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: normal;
}

.login-search-text{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

.login-search{
    outline: none;
    border: 2px solid var(--primary-color);
    border-width: 2px 0 2px 2px;
    border-radius: 12px 0 0 12px;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 22px;
    min-width: 200px;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

.login-search:valid,
.login-search:focus,
.login-search:active{
    border: 2px solid var(--primary-color);
    border-width: 2px 0 2px 2px;
    border-radius: 12px 0 0 12px;
}

.search-input-container{
    display: flex;
    justify-content: start;
    align-items: center;
}

.search-icon-small{
    height: 46px;
    outline: none;
    border: 2px solid var(--primary-color);
    border-width: 2px 2px 2px 0;
    border-radius: 0 12px 12px 0;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 24px;
    color: var(--primary-color);
    background-color: #FFF;
}

.search-icon-small i{
    transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
}

.search-icon-small i:active{
    transform: scale(.96);
}

.success-badge{
    display: inline-block;
    padding: 6px;
    color: var(--success-bright-color);
    background-color: var(--success-shade-color);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
}

.failed-badge{
    display: inline-block;
    padding: 6px;
    color: var(--danger-color);
    background-color: var(--danger-shade-color);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
}

.view-button{
    outline: none;
    border: 3px solid var(--success-dark-color);
    padding: 8px 18px;
    color: var(--success-dark-color);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    border-radius: 18px;
    background-color: #FFF;
    transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
}

.view-button:active{
    transform: scale(.96);
}

.suspend-button{
    outline: none;
    border: 3px solid var(--warning-dark-color);
    padding: 8px 18px;
    color: var(--warning-dark-color);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    border-radius: 18px;
    background-color: #FFF;
    transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
}

.suspend-button:active {
    transform: scale(.96);
}

.disable-button{
    outline: none;
    border: 3px solid var(--grey-color);
    padding: 8px 18px;
    color: var(--grey-color);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    border-radius: 18px;
    background-color: #FFF;
}

.reset-login-button{
    outline: none;
    border: 3px solid var(--warning-dark-color);
    padding: 8px 18px;
    color: var(--warning-dark-color);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    border-radius: 18px;
    background-color: #FFF;
    transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
}

.reset-login-button:active {
    transform: scale(.96);
}

.activate-button{
    outline: none;
    border: 3px solid var(--warning-dark-color);
    padding: 8px 18px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    border-radius: 18px;
    background-color: var(--warning-dark-color);
    transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
}

.activate-button:active {
    transform: scale(.96);
}

.pagination-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px 0;
}

.pagination-button{
    height: 40px;
    width: 40px;
    outline: none;
    border: none;
    color: var(--primary-color);
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    border-radius: 4px;
    background-color: var(--primary-background-color);
    transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
}

.pagination-button:active {
    transform: scale(.96);
}

.pagination-button-current{
    height: 48px;
    width: 48px;
    outline: none;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 500;
    border-radius: 12px;
    background-color: var(--primary-background-color);
    transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
}

.pagination-button-current:active {
    transform: scale(.96);
}

.search-users-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.search-users-title h1{
    color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: normal;
}

.users-search-text{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

.users-search{
    outline: none;
    border: 2px solid var(--primary-color);
    border-width: 2px 0 2px 2px;
    border-radius: 12px 0 0 12px;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 22px;
    min-width: 200px;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

.users-search:valid,
.users-search:focus,
.users-search:active{
    outline: none;
    border: 2px solid var(--primary-color);
    border-width: 2px 0 2px 2px;
    border-radius: 12px 0 0 12px;
}

.table-heading-date{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort-button{
    height: 48px;
    width: 48px;
    outline: none;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    border-radius: 12px;
    background-color: #FFF;
}

.sort-button:active{
    transform: scale(.96);
}

.active-badge{
    display: inline-block;
    padding: 6px;
    color: var(--success-bright-color);
    background-color: var(--success-shade-color);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
}

.suspend-badge{
    display: inline-block;
    padding: 6px;
    color: var(--danger-color);
    background-color: var(--danger-shade-color);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
}

.create-admin{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    border: 3px solid var(--primary-color);
    padding:0px 12px;
    border-radius: 12px;
}

.create-admin h1{
    color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: normal;
}
