.success-message-container{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) ;
    padding: 12px 36px;
    color: #102699;
    background-color: #FFF;
    border-radius: 16px;
    opacity: 1;
    visibility: hidden;
}

.success-message-container h1{
    font-weight: normal;
}

.failed-message-container{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) ;
    padding: 12px 36px;
    color: var(--warning-dark-color);
    background-color: #FFF;
    border-radius: 16px;
    opacity: 1;
    visibility: hidden;
}

.failed-message-container h1{
    font-weight: normal;
}

.failed-message-container h5{
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 12px;
    margin-left: 34px;
}

.contact-banner{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 48px 0;
    background-image: url("../assets/contact-us-banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-banner-left-panel{
    margin-left: 20%;
    font-family: 'Inter', sans-serif;
}

.contact-banner-left-panel h1{
    margin: 0;
    font-size: 36px;
    font-family: Poppins;
}

.banner-content{
    margin: 18px 0;
}

.banner-content-title{
    display: flex;
    align-items: center;
    font-size: 24px;
}

.banner-content-title h3{
    margin: 0 12px;
}

.banner-content table{
    font-size: 20px;
    letter-spacing: 0.8px;
}

.banner-content tr{
    margin: 8px 0;
}

.banner-table-contact-text{
    color: var(--primary-color);
}

.contact-form-container{
    display: flex;
    justify-content: center;
    background-color: var(--primary-shade-color);
}

.contact-form{
    margin: 36px 0;
    padding: 28px;
    border: 2px solid var(--primary-color);
    border-radius: 16px;
    background-color: white;
}

.form-title{
    display: flex;
    align-items: center;
    font-size: 24px;
}

.form-title h1{
    margin: 0 16px;
}

.form-row{
    display: flex;
    justify-content: stretch;
}

.form-column{
    display: flex;
    flex-direction: column;
    margin: 8px 16px;
}

.form-input-label{
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}

.form-input{
    outline-color: #354BC0;
    outline-width: medium;
    border: 2px solid #354BC0;
    border-radius: 5px;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    min-width: 320px;
    padding: 10px;
    font-size: 16px;
    background-color: #FFF;
}

.form-input:valid,
.form-input:focus,
.form-input:active{
    outline-color: #354BC0;
    outline-width: medium;
    border: 2px solid #354BC0;
    border-radius: 5px;
}

.form-text-area{
    outline-color: #354BC0;
    outline-width: medium;
    border: 2px solid #354BC0;
    border-radius: 5px;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    min-width: 700px;
    min-height: 120px;
    padding: 10px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    background-color: #FFF;
}

.form-text-area:valid,
.form-text-area:focus,
.form-text-area:active{
    outline-color: #354BC0;
    outline-width: medium;
    border: 2px solid #354BC0;
    border-radius: 5px;
}

.button-container{
    display: flex;
    justify-content: center;
}

.submit-button{
    min-width: 120px;
    outline: none;
    border: none;
    padding: 10px 5px;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-radius: 16px;
    background-color: #354BC0;
    transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
}

.submit-button:active{
    transform: scale(.96);
}