.worker-banner{
    min-height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-title{
    text-align: center;
    margin: 16px 0;
    margin-top: 48px;
    font-size: 40px;
    color: var(--primary-color);
}

.worker-section{
    padding: 0 56px;
}

.worker-section-title{
    margin: 0;
    font-size: 32px;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
}

.worker-card-container{
    display: flex;
    flex-wrap: wrap;
    padding: 16px 0;
    align-items: start;
    justify-content: center;
}

.worker-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 21%;
    height: 540px;
    padding: 28px 16px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 2px solid var(--primary-color);
    border-radius: 12px;
}

.worker-card-title{
    margin: 0;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

.worker-card-star-container{
    width: fit-content;
    padding: 2px 4px;
    color: var(--primary-color);
    background-color: var(--primary-background-color);
    border-radius: 4px;
    margin: 12px 0;
}

.worker-image{
    width: 75%;
    margin: 0 auto;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
}

.worker-image img{
    width: 100%;
    height: auto;
}

.worker-card-location-row h3{
    margin: 8px 0;
    font-weight: normal;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
}

.worker-card-types-row{
    display: flex;
    font-size: 20px;
    color: black;
    font-weight: normal;
    font-family: 'Inter', sans-serif;
}

.worker-type-badge{
    padding: 4px 12px;
    margin-left: 8px;
    margin-right: 4px;
    border-radius: 6px;
    background-color: var(--primary-background-color);
}

.worker-type-badge h5{
    margin: 0;
    color: var(--primary-bright-color);
    font-size: 18px;
    font-weight: normal;
    font-family: 'Inter', sans-serif;
}

.worker-card-button-container{
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    margin-top: 24px;
    text-align: center;
}

.worker-loading-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 21%;
    height: 540px;
    padding: 28px 16px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: var(--primary-background-shade-color);
    border-radius: 12px;
}

.worker-loading-card-title{
    width: 75%;
    height: 35px;
    background-color: var(--primary-background-color);
}

.worker-loading-card-star-container{
    width: 40%;
    height: 25px;
    margin: 8px 0px;
    background-color: var(--primary-background-color);
}

.worker-loading-image{
    width: 250px;
    margin: 8px auto;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--primary-background-color);
}

.worker-loading-card-location-row{
    width: 40%;
    height: 25px;
    margin: 8px 0px;
    background-color: var(--primary-background-color);
}

.worker-loading-card-types-row{
    width: 60%;
    height: 25px;
    margin: 8px 0px;
    background-color: var(--primary-background-color);
}

.worker-loading-card-button-container{
    width: 80%;
    height: 40px;
    margin: 8px 0px;
    background-color: var(--primary-background-color);
}

.empty-worker-card-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 48px 0;
}

.empty-worker-card-image-container img{
    width: 60%;
    height: auto;
}

.empty-worker-card-image-container h1{
    margin: 0;
    width: 60%;
    font-size: 28px;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: var(--primary-color);
}

.button-loading-container{
    display: flex;
    justify-content: center;
}

.button-loading-state{
    width: 15%;
    height: 60px;
    margin: 8px 0px;
    border-radius: 12px;
    background-color: var(--primary-background-color);
}

.booking-button{
    outline: none;
    border: 3px solid var(--primary-color);
    padding: 12px 18px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    border-radius: 18px;
    background-color: var(--primary-color);
    transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
}

.more-button{
    outline: none;
    border: 2px solid var(--primary-color);
    padding: 9px 25px;
    color: #3D3BEE;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    border-radius: 18px;
    background-color: #ABC3EF;
    transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
    margin-bottom: 30px;
}

.booking-button:active, .more-button:active{
    transform: scale(.96);
}

.disabled-button{
    outline: none;
    border: 3px solid var(--grey-color);
    padding: 12px 18px;
    color: var(--grey-color);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    border-radius: 18px;
    background-color: white;
    transition: none;
}


.view-profile-button{
    outline: none;
    border: 3px solid var(--primary-color);
    padding: 12px 18px;
    color: var(--primary-color);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    border-radius: 18px;
    background-color: white;
    transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
    margin-right: 20px;
}

.view-profile-button:active{
    transform: scale(.96);
}

.button-container{
    text-align: center;
    margin-bottom: 16px;
}

.material-icons.md-40 { font-size: 40px; }