.main-section{
    background-color: #ABC3EF;
}

.main-heading{
    padding: 12px 24px;
    color: #FFF;
    background-color: var(--primary-color);
    border-radius: 12px;
}

.main-heading h1{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: normal;
}

.main-heading h5 {
    margin: 0;
    text-align: right;
    font-size: 18px;
    font-weight: normal;
}

.overview-content{
    text-align: center;
}

.overview-content h1{
    margin: 16px;
    color: var(--primary-color);
    font-size: 36px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.recent-bookings-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recent-bookings-title h1{
    color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: normal;
}

.recent-bookings-container{
    display: flex;
    flex-wrap: wrap;
}

.booking-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 190px;
    margin: 4px 8px;
    padding: 24px;
    color: var(--primary-color);
    background-color: #FFF;
    border-radius: 12px;
    border: 3px solid var(--primary-color);
    font-family: 'Inter', sans-serif;
}

.booking-card:hover{
    border: 3px solid var(--success-color);
}

.card-text{
    text-align: left;
}

.booking-card h3{
    margin: 12px 0;
    font-size: 24px;
    text-align: center;
}

.booking-card p{
    margin: 0;
    color: var(--dark-color);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.booking-card h4{
    margin: 8px 0;
    color: var(--dark-color);
    font-size: 24px;
    font-weight: 500;
}

.blue-badge{
    display: inline-block;
    padding: 6px;
    color: var(--primary-bright-color);
    background-color: var(--primary-shade-color);
    border-radius: 4px;
    font-weight: 500;
}

.badge-container{
    text-align: left;
    margin-bottom: 8px;
}

.booking-card-button-row{
    text-align: center;
}

.in-pogress-button{
    outline: none;
    border: none;
    margin: 4px auto;
    padding: 12px 24px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    background-color: var(--primary-bright-color);
}

.completed-button{
    outline: none;
    border: none;
    padding: 12px 24px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    background-color: var(--success-color);
}

.rejected-button {
    outline: none;
    border: none;
    padding: 12px 24px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    background-color: var(--danger-color);
}

.pending-button{
    outline: none;
    border: none;
    padding: 12px 24px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    background-color: var(--dark-color);
}

.booking-details-container{
    position: fixed;
    left: 50%;
    top: 50%;
    height: 90vh;
    transform: translate(-50%, -50%) ;
    margin: 16px;
    max-height: 90vh;
    color: #102699;
    background-color: #FFF;
    border-radius: 16px;
    opacity: 1;
    visibility: hidden;
}


.booking-details-scroll-wrapper{
    margin: 32px 48px;
    margin-right: 24px;
    padding-right: 24px;
    overflow: auto;
    height: calc(100% - 64px);
}

.booking-details-title{
    padding: 16px 12px;
    background-color: var(--primary-shade-color);
    border-radius: 12px;
}

.booking-details-title h1{
    margin: 0;
    text-align: center;
    font-weight: normal;
}

.status-container{
    margin: 12px;
    text-align: center;
}

.status-button{
    outline: none;
    border: none;
    margin: 4px auto;
    padding: 12px 24px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    background-color: var(--primary-bright-color);
}

.details-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}

.details-row h4{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: normal;
}

.details-value{
    padding: 8px;
    width: 320px;
    background-color: var(--primary-shade-color);
    border-radius: 8px;
    border: 1px solid var(--primary-color);
}

.remaining-time-container h4{
    margin: 0;
    font-weight: normal;
    font-size: 20px;
}

.countdown-text{
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    text-align: center;
}

.payment-method-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-image-container{
    width: 50%;
    text-align: center;
}

.payment-image-container h4{
    margin: 0;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
}

.payment-image-card{
    padding: 24px 12px;
    text-align: center;
}

.payment-image{
    width: 60%;
}

.payment-image-card h4{
    text-align: center;
}

.payment-details-container h3{
    font-size: 28px;
    font-weight: normal;
    text-align: center;
}

.payment-details-container h2{
    font-size: 56px;
    font-weight: normal;
    text-align: center;
}

.back-button-container{
    padding: 12px;
    text-align: center;
}

.back-button-container button{
    min-width: 180px;
}

.recent-feedbacks-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recent-feedbacks-title h1{
    color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: normal;
}

.housing-payments{
    display: flex;
}

.housing-dash-content{
    width: 50%;
}

.housing-dash-content h1 {
    color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: normal;
}

.housing-card{
    margin: 15px 5px 15px 5px;
    width: 80%;
    padding: 48px 10px;
    background-color: #FFF;
    border: 3px solid var(--primary-color);
    border-radius: 12px;
}

.housing-card h4{
    margin: 0;
    color: var(--dark-color);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.housing-card h3{
    margin: 16px 0;
    color: var(--dark-color);
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 500;
}

.housing-job-list {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.housing-job-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
}

.housing-job-item h3{
    margin: 10px 0;
    color: var(--dark-color);
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: normal;
}

.recent-payments{
    margin: 16px 0;
}

.recent-payments-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recent-payments-title h1{
    color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: normal;
}

.payment-success-badge{
    font-size: 20px;
    color: var(--success-bright-color);
    font-weight: bold;
}

.payment-success-failed{
    font-size: 20px;
    color: var(--warning-color);
    font-weight: bold;
}

.recent-payments-container{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.success-payment-container, .failed-payment-container{
    width: 40%;
    background-color: white;
    margin: 16px 12px;
    padding: 18px;
    border-radius: 16px;
    border: 1px solid var(--primary-color);
}

.payment-container-heading{
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment-heading-item{
    width: 50%;
}

.payment-heading-item h3{
    margin: 4px 0;
    font-size: 24px;
    color: var(--primary-color);
}

.payment-heading-item h5{
    margin: 4px 0;
    font-size: 18px;
    font-weight: normal;
    color: var(--grey-color);
}

.success-payment-amount-container h1, .failed-payment-amount-container h1{
    text-align: center;
    font-size: 42px;
    margin: 16px 0;
}

.success-payment-amount-container h1{
    color: var(--success-color);
}

.failed-payment-amount-container h1{
    color: var(--warning-color);
}